.header {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  padding: 12px 24px;
  background-color: #fbebd7;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  position: relative;
}

.logo {
  height: 50px;
}

/* Menu centralizado no header */
.menu {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 20px;
}

.navega-item {
  padding: 10px 24px;
  background-color: #ffd4b083;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  color: #59360c;
  text-decoration: none;
}

.navega-item:hover {
  background-color: #f4b684;
}

/* Botões de login/logout */
.login-btn,
.logout-btn {
  background-color: #ffd3b0;
  color: #59360c;
  padding: 10px 24px;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
  border: none;
}

.login-btn:hover {
  background-color: #f4b684;
}

.logout-btn {
  background-color: #ff6b6b;
  color: white;
}

.logout-btn:hover {
  background-color: #ff4c4c;
}
