/* Cabeçalho */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;
  background-color: #fbebd7;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.logo {
  height: 60px;
}

.login-btn {
  background-color: #ffd3b0;
  color: #59360c;
  padding: 10px 24px;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

.login-btn:hover {
  background-color: #f4b684;
}

.navega {
  display: flex;
  /* width: 100%; */
  /* background-color: #59360c; */
  justify-content: le;
}

.navega-item {
  padding: 10px 24px;
  background-color: #ffd4b083;
  margin: 1%;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  color: #59360c;
}

.navega-item:hover {
  background-color: #f4b684;
}

